@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #000;
}
h1 {
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 3.5vmax;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}
h2 {
  font-size: 3vmax;
  font-family: 'Cookie';
  font-weight: 100;
  color: #F9F3F4;
  margin: 0;
}
a {
  color: unset;
}

#sticky-heading {
  position: sticky;
  top: 8vmax;
}

#job-title {
  position: absolute;
  width: 40%;
  top: 14vmax;
}

#intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background:
    linear-gradient(to bottom, rgba(0,0,0,100%) 0%, rgba(0,0,0,10%) 25%, rgba(0,0,0) 100%),
    linear-gradient(to right, rgba(0,0,0,80%) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0) 100%),
    url("bg-desktop.jpg") no-repeat;
  display: flex;
  top: 0;
  background-size: cover;
  background-position-x: 60%;
}

.content {
  margin: 0 5vmax;
  color: #F9F3F4;
  transition: 1s ease-in-out;
}
#icons {
  display: table;
  margin: auto;
}
.socialicon {
  font-size: 4vmax;
  display: table-cell;
  padding: 2vmax;
}
.fa-linkedin:hover {
  color: #0077B5;
}
.fa-instagram:hover {
  color: #DD2A7B;
}
.fa-facebook-square:hover {
  color: #3B5998;
}
.fa-envelope:hover {
  color: #ff6100;
}
